.under-header{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }

.under-title {
    text-align: center;
    font-weight: bold;
    margin-left: 7%;
    margin-right: 7%;
  }

  .back-button {
    margin-top: 20px;
    margin-left: 5%;
    position: relative;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #f0f0f0;
}

.back-button::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-top: 2px solid #f0f0f0;
    border-left: 2px solid #f0f0f0;
    transform: rotate(-45deg);
    margin-right: 10px;
}

.back-button:hover::before {
    border-color: #ffffff;
}

.back-button:hover {
    color: #ffffff;
}