body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  width: 100%;
  text-decoration: none;
}

.goog-te-banner-frame {
  display: none !important;
}
.goog-te-gadget {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.service-page {
  background-color: #121212;
  color: #fff;
}
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@font-face {
  font-family: "The dark";
  font-style: normal;
  font-weight: 400;
  src: local("TheDark"),
       url("/frontend/public/the-dark-font/TheDark-pr2Z.ttf") format("ttf"),
}